<%- include('../inc/top') %>

<div class="row">
  <h2>Thêm hãng xe</h2>

  <%= msg %>
  <div>
    <form action="" method="post">
      <input type="text" name="name" placeholder="Tên hãng" />

      <button type="submit">Save</button>
    </form>
  </div>
</div>

<%- include('../inc/bottom') %>
